@(message: String)

@main("GettingStarted") {

<div class="text-center">
    <div class="container">
        <div class="panel panel-default panel-body">

            <div class="col-sm-9">
                <form class="navbar-form navbar-left" method="POST" enctype="multipart/form-data" id="fileUploadForm">
                    <div class="form-group">
                        <label> Upload your changelog file to track status: </label>
                        <input type="file" name="files" />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" id="btnUpload"> Upload </button>
                    </div>
                </form>
            </div>

            <div class="col-sm-3">
                <button type="submit" class="btn btn-danger" id="btnTruncate">Reset Data </button>
            </div>

            <div class="col-sm-12">
                <pre><span id="status"></span></pre>
            </div>

        </div>

        <div class="panel panel-default panel-body">
            <div class="col-sm-12">
                <form class="navbar-form navbar-left" id="track">
                    <div class="form-group">
                        <label for="txtObjectId">Object ID</label>
                        <input type="text" id="txtObjectId" />
                    </div>
                    <div class="form-group">
                        <label for="txtObjectType">Object Type</label>
                        <input type="text" id="txtObjectType" />
                    </div>
                    <div class="form-group">
                        <label for="txtTimeStamp">Time Stamp</label>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtTimeStamp" />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Track Status" id="btnTrack" />
                    </div>
                </form>
            </div>
            <div class="col-sm-12">
                <pre><span id="result"></span></pre>
            </div>
        </div>
    </div>


    <script type="text/javascript">
    $(document).ready(function () {
        $("#btnUpload").click(function (event) {
            event.preventDefault();
            upload_file();
        });
        $("#btnTruncate").click(function (event) {
            truncate_data();
        });
        $("#btnTrack").click(function (event) {
            event.preventDefault();
            track_status();
        });
    });

    function upload_file() {
        var form = $('#fileUploadForm')[0];
        var data = new FormData(form);
        data.append("CustomField", "This is some extra data, testing");
        $("#btnUpload").prop("disabled", true);
        $.ajax({
            type: "POST",
            enctype: 'multipart/form-data',
            url: "/upload",
            data: data,
            processData: false,
            contentType: false,
            cache: false,
            timeout: 600000,
            success: function (data) {
                $("#status").text(data);
                console.log("SUCCESS : ", data);
                $("#btnUpload").prop("disabled", false);
            },
            error: function (e) {
                $("#status").text(e.responseText);
                console.log("ERROR : ", e);
                $("#btnUpload").prop("disabled", false);
            }
        });
    }

    function truncate_data() {

        $.ajax({
            type: "DELETE",
            url: "/truncate",
            processData: false,
            contentType: false,
            cache: false,
            timeout: 600000,
            success: function (data) {
                $("#status").text(data);
            },
            error: function (e) {
                $("#status").text(e.responseText);
            }
        });
    }

    function track_status() {

        var formData = JSON.stringify({
            "object_id" : parseInt($("#txtObjectId").val()),
            "object_type" : $("#txtObjectType").val(),
            "timestamp": parseInt($("#txtTimeStamp").val())
        });

        $.ajax({
            type: "POST",
            url: "/track",
            data: formData,
            processData: false,
            contentType: "application/json",
            cache: false,
            timeout: 600000,
            success: function (data) {
                $("#result").text(JSON.stringify(data, null, 4));
            },
            error: function (e) {
                $("#result").text(e.responseText);
            }
        });
    }

    </script>
</div>
}
